/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}



.content {
    display: grid;
    grid-template-areas: 
    "header"
    "hero"
    "gallery"
    "whatsnew"
    "footer";

    .header{
        grid-area: header;
        align-items: center;
        grid-template-columns: (auto-fit, minmax(100px));
    }

    .hero{
        grid-area: hero;
        align-items: center;
        grid-template-columns: (auto-fit, minmax(100px));

    }

    .gallery{
        grid-area: gallery;
        align-items: center;
        grid-template-columns: (auto-fit, minmax(100px));
    }

    .whatsnew{
        grid-area: whatsnew;
        align-items: center;
        grid-template-columns: (auto-fit, minmax(100px));

    }

    .footer{
        grid-area: footer;
        align-items: center;
        grid-template-columns: (auto-fit, minmax(100px));
    }

    margin-bottom: 24px;

    @include md {
        background: grey;
        margin-bottom: 32px;

        .gallery{
            display: grid;
            grid-template-columns:50% 1fr 
            "image1 image2"
            "image3";

            .image1{
                grid-area: image1;
            }
            .image2{
                grid-area: image2
            }
            .image3{
                grid-area: image3
            }
        }
    }

    @include lg {
        background: lightblue;
        margin-bottom: 64px;
    }

    @include xl {
        margin-bottom: 64px;
    }
}