/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}



main{
    background: lightblue;
    display: grid;
    grid-template-areas: 
    "header"
    "hero"
    "herosec1"
    "herosec2"
    "gallery"
    "whatsnew"
    "footer";
    grid-gap: 10px;
}

    .header{
        grid-area: header;
        img {
            width: 25%;
        }
    
        ul {
            display: grid;
        }
    
        a {
            display: grid;
        }
        @include md {
            ul {
                grid-template-columns: repeat(12, 1fr);
    
                
            }
        }
    }

    .hero{
        grid-area: hero;
        img {
            width: 100%;
        }
    
        ul {
            display: grid;
        }
    
        a {
            display: grid;
        }
        @include md {
            ul {
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(6, 1fr);
                .truck {
                    grid-column: span 5;
                }
                .location {
                    grid-column: span 7;
                }
                
            }
            
        }
    }

    
    .herosec1{
        grid-area: herosec1;
        align-items: center;
        grid-template-columns: (300px, 1fr);
        grid-area: hero;
        
    
        ul {
            display: grid;
        }
    
        a {
            display: grid;
        }
        @include md {
            ul {
                grid-template-columns: repeat(12, 1fr);
                grid-column: span 8;
                grid-row: span 6; 
            }
        }

    }
    .herosec2 {
        grid-area: herosec2;
    
        ul {
            display: grid;
        }
        a {
            display: grid;
        }
    
        @include md {
            ul {
                grid-template-columns: repeat(12, 1fr);
                grid-template-rows: repeat(6, 1fr);
            }
            img {
                width: 100%;
            }
            grid-column: span 4;
			grid-row: span 6;
            
        }
    }


    .gallery{
        grid-area: gallery;
        display: grid;
		grid-template-columns: auto auto auto;
        grid-template-areas: ". gallery .";
        img {
            width: 75%;
        }
    
        ul {
            grid-area: gallery;
			display: grid;
			
			grid-template-rows: repeat(1, 1fr);
			grid-template-areas:
				"image1"
				"image2"
				"image3";
        }
    
        
        @include md {
            
                grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(3, 300px);
				grid-template-areas:
					"image1 image2"
					"image1 image3";
    
            }
            @include lg {
				grid-template-columns: repeat(3, 1fr);
				grid-template-areas:
                "image1 image2"
                "image1 image3";
			}
        .image1 {
            grid-area: image1;
        }
        .image2 {
            grid-area: image2;
        }
        .image3 {
            grid-area: image3;
        }
    }
    
    

    .whatsnew{
        grid-area: whatsnew;
        img {
            width: 30%;
        }
    
        ul {
            display: grid;
        }
    
        a {
            display: grid;
        }
        @include md {
            ul {
                grid-template-columns: repeat(12, 1fr);
    
                
            }
        }

    }

    .footer{
        grid-area: footer;
        .socials ul {
            display: flex;
        }
    
        .locations {
            section ul li {
                display: grid;
                grid-template-columns: 20px 200px;
            }
        }
        @include md {
            display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(6, 1fr);
		grid-gap: 50px;

		.locations {
			grid-column: 2 / 5;
			grid-row: 1 / 4;
		}

		.newsletter {
			grid-column: 5 / 6;
			grid-row: 1 / 2;
		}

		.socials {
			grid-column: 5 / 6;
		}
	}
        margin-bottom: 24px;

	@include md {
		margin-bottom: 32px;
	}
    }

    
    

    

