/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}



.content {
    display: grid;
    grid-template-areas: 
    "header"
    "hero"
    "gallery"
    "whatsnew"
    "footer";

    .header{
        grid-area: header;

    }

    .hero{
        grid-area: hero;

    }

    .gallery{
        grid-area: gallery;

    }

    .whatsnew{
        grid-area: whatsnew;

    }

    .footer{
        grid-area: footer;

    }

    margin-bottom: 24px;

    @include md {
        background: grey;
        margin-bottom: 32px;
    }

    @include lg {
        background: lightblue;
        margin-bottom: 64px;
    }

    @include xl {
        margin-bottom: 64px;
    }
}