.gallery {
	width: 1fr;

	.image {
		background-repeat: no-repeat;
		background-size: cover;
	}

	.image1 {
		background-image: url("/deploy/img/gal1.png");
		height: 800px;
		width: 500px;
		
	}
	.image2 {
		background-image: url("/deploy/img/gal2.png");
		height: 400px;
		width: 500px;
	}

	.image3 {
		background-image: url("/deploy/img/gal3.png");
		height: 400px;
		width: 500px;
		
	}
	@include md {
		.image {
			height: 800px;
		
		}
	}
	@include lg {
		.image {
			height: 900px;
			width: 800px;
		}
	}
	@include xl {
		.image {
			height: 1000px;
		}
	}
	
}