.hero-img{
    background: url(../../../deploy/img/heroimage.jpg);
    background-size: cover;
    background-position: center;
    height: 10px;
    width: 100%;
}
.hero {
	ul {
		.details h5 {
			display: none;
		}
		.details a {
			color: $buttonBlue;
			padding: 10px;
			min-height: 100px;
		}
		.delivery a {
			background: $yellow2;
			&:hover {
				background: darken($corn, 10%);
			}
		}
		.location a {
			background: #FAE06A;
			&:hover {
				background: darken($tangerine, 10%);
			}
		}

		@include md {
			.details h5 {
				display: inline;
				padding: 10px;
			}
		}
	}
}
