.whatsnew {
	h1 {
		font-weight: 400;
		font-size: rem-calc(27);
	}

	li {
		background: $lightYellow;

		.new-content {
			padding: 0 30px 30px;
		}

		button {
			background: $tangerine;
			border: none;
			padding: 5px 10px;
		}

		p {
			font-size: rem-calc(16);
			line-height: 1.4;
		}
	}

	@include md {
		width: 75%;
		margin: 30px auto;
	}
}

.new-image {
	height: 180px;
}

#whatsnew-1 {
	.new-image {
		background: url("/deploy/img/whatsnew/whatsnew1.png") no-repeat;
		background-size: cover;
	}
}

#whatsnew-2 {
	.new-image {
		background: url("/deploy/img/whatsnew/whatsnew2.png") no-repeat;
		background-size: cover;
	}
}

#whatsnew-3 {
	.new-image {
		background: url("/deploy/img/whatsnew/whatsnew3.png") no-repeat;
		background-size: cover;
	}
}

#whatsnew-4 {
	.new-image {
		background: url("/deploy/img/whatsnew/whatsnew4.png") no-repeat;
		background-size: cover;
	}
}

#whatsnew-5 {
	.new-image {
		background: url("/deploy/img/whatsnew/whatsnew5.png") no-repeat;
		background-size: cover;
	}
}